@media screen and (max-width: 899px) {
  .carousel-proyectos-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 60px;
  }

  .slick-list {
    height: 450px;
  }

  .imagenes-proyecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-desktop {
    filter: none;
    height: 250px;
    margin-top: 0;
  }

  .image-mobile {
    bottom: 100px;
    height: 100px;
    left: -40px;

    position: absolute;
    margin: 0 auto;
  }

  .info-proyecto {
    margin: 0 auto;
  }

  .nombre-proyecto {
    font-size: 1.8em;
    height: 100px;
    margin-top: -1rem;
    text-align: center;
    width: 100%;
  }

  .descripcion-proyecto {
    display: none;
  }

  .link-proyecto {
    bottom: 10px;
    width: 100%;
  }
  .link-proyecto:hover {
    padding-right: 0rem;
  }
}
