.proyectos-container {
  background-color: #00a78e;
  height: 650px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.carousel-proyectos-container {
  margin: 0 auto;
  width: 75%;
}

.carousel-proyectos-container .section-title {
  border-bottom: 3px solid #2c3953;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 55px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.card-container {
  display: flex;
  height: 450px;
  width: 100%;
}

.imagenes-proyecto {
  display: flex;
  position: relative;
}

.image-desktop {
  height: 450px;
  object-fit: cover;
}

.image-mobile {
  bottom: 70px;
  height: 220px;
  left: -20px;
  position: absolute;
  object-fit: cover;
}

.info-proyecto {
  position: relative;
  width: 100%;
}

.nombre-proyecto {
  width: 100%;
}

.nombre-proyecto .proyecto {
  color: #fff;
  display: inline-block;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin-top: 2rem;
  text-decoration: none;
  text-align: right;
  width: 100%;
}

.descripcion-proyecto {
  color: #2c3953;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  margin-left: auto;
  margin-top: auto;
  width: 66%;
}

.descripcion-dos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #00a78e;
  font-weight: bold;
  font-size: 15px;
  height: 58px;
  letter-spacing: 1px;
  text-align: center;
  right: 0;
  bottom: 80px;
  position: absolute;
}

.link-proyecto {
  bottom: 0;
  background-size: 200%;
  background-image: linear-gradient(to right, #2c3953 50%, #fff 50%);
  background-repeat: no-repeat;
  background-position: left;
  border: solid 3px #2c3953;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: bold;
  height: 58px;
  line-height: 3.6rem;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease-in-out all;
  width: 66%;
  z-index: 10;
}

.link-proyecto:hover {
  background-position: right;
  color: #2c3953;
  padding-left: 1rem;
}
