/* CONTENEDOR PRINCIPAL */
.titulo-section-habilidades {
  margin: 0 auto;
  width: 70%;
}

.section-habilidades {
  align-items: center;
  height: 25rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 4rem;
  width: 50%;
}

.titulo-section-habilidades {
  margin-top: 4rem;
}

.titulo-section-habilidades p {
  border-bottom: 3px solid #f5af31;
  color: #2a2a2a;
  font-family: "Oswald", sans-serif;
  font-size: 3.6rem;
  font-weight: 800;
  text-align: right;
}
/* //================================================== */
/* CONTENEDOR DE SVGs */
.contenedor-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}
/* //================================================== */

/* IMAGEN SVG */
.image-habilidad {
  width: 7rem;
  color: #fff;
}
/* //================================================== */
/* ANIMACION SVG */

/* //================================================== */
/* TXT DESCRIPTIVO */
.text-descriptivo {
  width: 18rem;
  margin-left: 1.9rem;
  margin-top: 1rem;
  font-weight: 450;
  font-size: 18px;
  line-height: 1.7;
}
