@media screen and (max-width: 899px) {
  /* CONTENEDOR PRINCIPAL */
  .section-habilidades {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-section-habilidades h2 {
    font-size: 37px;
    text-align: center;
    width: 90%;
  }

  /* //================================================== */

  .contenedor-svg {
    width: 100%;
    margin-top: 3rem;
  }
  .image-habilidad {
    margin: 0 30px;
  }

  .contenedor-svg h3 {
    font-size: 25px;
  }
}
