@media screen and (max-width: 899px) {
  /* CONTENEDOR PRINCIPAL */
  .section-habilidades {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-section-habilidades p {
    margin: 20px auto;
    margin-top: 4rem;
    font-size: 3.2rem;
    font-weight: 800;
    text-align: center;
    width: 85%;
  }

  /* //================================================== */

  .contenedor-svg {
    width: 100%;
    margin-top: 3rem;
  }
}
