/* SECTION HEADER */
.section-header {
  align-items: center;
  background-color: #252525;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: regular;
  font-size: 1.2em;
  height: 4rem;
  justify-content: space-between;
  position: fixed;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 10;
}

.contenedor-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
  z-index: 10;
}

.active {
  height: 0;
}

.display-none {
  display: none;
}
/* ========================================= */
/* LOGO */

.logo {
  color: #08ce66;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  margin-right: 1.5rem;
  text-decoration: none;
}

.logo:hover {
  filter: drop-shadow(0px 0px 7px #5e5e5e);
}

/* ========================================= */
/* SECTIONS */

.nav-sections {
  display: flex;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.link-section {
  color: #fff;
  cursor: pointer;
  margin-top: 8px;
  padding: 0 1rem;
  outline: none;
  text-decoration: none;
  scroll-behavior: inherit;
}

/* ANIMATION UNDERLINE */
.link-section:after {
  background: #08ce66;
  border-radius: 5px;
  content: "";
  display: flex;
  height: 2px;
  transform: scaleX(0);
  transition: 0.2s linear;
  visibility: hidden;
  width: 100%;
}

.link-section:hover:after,
.link-section:focus:after {
  visibility: visible;
  transform: scaleX(1);
}
/* ========================================= */

.icon-home {
  bottom: 40px;
  cursor: pointer;
  display: none;
  height: 40px;
  position: absolute;
  position: fixed;
  right: 40px;
  width: 40px;
  z-index: 100;
}

.display-block {
  display: block;
}

@media screen and (max-width: 899px) {
  .icon-home {
    bottom: 20px;
    height: 30;
    right: 20px;
    width: 30px;
  }
}
