@media screen and (max-width: 1280px) {
  .link-section {
    color: #2c3953;
  }
}

@media screen and (max-width: 899px) {
  .section-header {
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    position: fixed;
    padding: 0 1.4rem;
    width: 100%;
    /* height: 3.5rem; */
  }

  .contenedor-nav {
    height: 3.5rem;
    width: 100%;
    align-items: center;
  }

  .nav-sections {
    display: none;
  }

  .logo {
    margin: 0;
  }

  /* MENU HAMBURGUESA */
  /* ============================================== */

  .container-hamburguesa {
    cursor: pointer;
    height: 30px;
    width: 30px;
    z-index: 10;
  }

  .menu-desplegable {
    transition: all 0.2s ease;
    background-color: #fff;
    border: #2c3953 solid 3px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    height: auto;
    position: absolute;
    top: 5.6rem;
    left: 0;
    text-decoration: none;
    width: 100%;
    z-index: 10;
    transition: all 0.2s ease;
  }

  .contenedor-links {
    transition: all 0.2s ease;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    transition: all 0.2s ease;
  }

  .link-section {
    color: #2c3953;
    margin: 2vh 0;
  }

  .link-section:after {
    display: none;
  }
}
