@media screen and (max-width: 899px) {
  .section-header {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1.4rem;
    height: 3.5rem;
  }

  .contenedor-nav {
    height: 3.5rem;
    width: 100%;
    align-items: center;
  }

  .nav-sections {
    display: none;
  }

  .logo {
    margin: 0;
  }

  /* MENU HAMBURGUESA */
  /* ============================================== */

  .container-hamburguesa {
    cursor: pointer;
    height: 30px;
    width: 30px;
    z-index: 10;
  }

  .menu-desplegable {
    background-color: #fff;
    border: #2c3953 solid 3px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    height: 205px;
    position: absolute;
    top: 5.6rem;
    text-decoration: none;
    width: 100%;
    z-index: 10;
  }

  .link-section {
    color: #2c3953;
  }

  .contenedor-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .margin {
    margin: 5px 0;
  }

  .link-section:after {
    display: none;
  }
}
