/* SECTION HEADER */
.section-header {
  align-items: center;
  background-color: #252525;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: regular;
  font-size: 1.2em;
  height: 3.8rem;
  justify-content: space-between;
  position: fixed;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 10;
}

.active {
  height: 0;
}

.display-none {
  display: none;
}
/* ========================================= */
/* LOGO */

.logo {
  color: #08ce66;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  line-height: 1em;
  margin-left: 3rem;
  text-decoration: none;
}

.logo:hover {
  filter: drop-shadow(0px 0px 7px #5e5e5e);
}

/* ========================================= */
/* SECTIONS */

.nav-sections {
  display: flex;
  padding-top: 3px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.link-section {
  color: #fff;
  cursor: pointer;
  margin: 0 1.5rem;
  outline: none;
  text-decoration: none;
  scroll-behavior: inherit;
}

/* ANIMATION UNDERLINE */
.link-section:after {
  background: #08ce66;
  border-radius: 5px;
  content: "";
  display: flex;
  height: 3px;
  transform: scaleX(0);
  transition: 0.2s linear;
  visibility: hidden;
  width: 100%;
}

.link-section:hover:after,
.link-section:focus:after {
  visibility: visible;
  transform: scaleX(1);
}
/* ========================================= */
/* MENU HAMBURGUESA */
div.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  margin: 0px 100px;
  max-width: 100%;
}

.navbar-mobile {
  display: none;
}

.menu {
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

#hamburguesa {
  display: none;
}

.menu-hamburguesa span {
  background-color: black;
  display: block;
  height: 2px;
  position: relative;
  transition: 0.3s ease;
  width: 18px;
  z-index: 2;
}

.linea-1 {
  margin-bottom: 3px;
  transform-origin: 10% 0%;
}

.linea-2 {
  margin-bottom: 3px;
}

.linea-3 {
  transform-origin: 10% 100%;
}

input:checked ~ label .linea-1 {
  transform: rotate(45deg);
}

input:checked ~ label .linea-2 {
  opacity: 0;
}

input:checked ~ label .linea-3 {
  transform: rotate(-45deg);
}

.nav-menu-mobile {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.4s ease;
  width: 100%;
}

.icon-home {
  bottom: 40px;
  cursor: pointer;
  display: none;
  height: 40px;
  position: absolute;
  position: fixed;
  right: 40px;
  width: 40px;
  z-index: 100;
}

.display-block {
  display: block;
}

@media screen and (max-width: 899px) {
  .icon-home {
    bottom: 20px;
    height: 30;
    right: 20px;
    width: 30px;
  }
}
