@media screen and (max-width: 899px) {
  .section-descripcion {
    width: 100%;
  }

  .imagen-fondo {
    display: none;
  }

  .contenedor-texto-descripcion {
    width: 90%;
  }

  .texto-descripcion {
    margin-right: 0 auto;
    width: 100%;
  }

  .texto-descripcion h1 {
    font-size: 5.5em;
    margin-top: 8rem;
  }

  .texto-descripcion h2 {
    font-size: 2.5em;
    margin-top: 20px;
  }

  .links-personal {
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
  }

  .boton-link {
    font-size: 17px;
    width: 100%;
  }
}
