.section-descripcion {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: center;
  height: 42rem;
  position: relative;
  user-select: none;
  width: 100%;
}

.imagen-fondo {
  clip-path: polygon(45% 0, 91% 0, 100% 100%, 68% 100%);
  background-color: #00a78e;
  height: 100%;
  position: absolute;
  margin: 0;
  object-fit: cover;
  padding: 0;
  width: 100%;
  z-index: -10;
}

.contenedor-texto-descripcion {
  width: 75%;
}

.texto-descripcion {
  color: #00a78e;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05em;
  margin-right: 27rem;
  width: 50%;
}

.texto-descripcion h1,
.texto-descripcion h2 {
  margin: 0;
}

.texto-descripcion h1 {
  color: #2c3953;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 6.5em;
  line-height: 1.2em;
  margin-top: 8rem;
  width: auto;
}

.texto-descripcion h2 {
  font-family: "Source Sans Pro", sans-serif;
}

.texto-descripcion h2 {
  font-size: 2.7em;
  font-weight: 100;
  margin-top: 5px;
}
.texto-descripcion h2 span {
  font-weight: 800;
}

.links-personal {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  height: 5rem;
  width: 100%;
}

.boton-link {
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 19px;
  height: 50px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

.bg-btn-1 {
  background-image: linear-gradient(to right, #00a78e 50%, #fff 50%);
  border: #00a78e solid 3px;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: left;
  line-height: 2.5em;
  transition: background-position 0.3s ease;
  transition: 0.4s ease-in-out all;
}

.bg-btn-1:hover {
  background-position: right;
  color: #2c3953;
}

.bg-btn-2 {
  background-image: linear-gradient(to right, #2c3953 50%, #fff 50%);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: left;
  border: #2c3953 solid 3px;
  line-height: 2.5em;
  transition: background-position 0.3s ease;
  transition: 0.4s ease-in-out all;
}

.bg-btn-2:hover {
  background-position: right;
  color: #00a78e;
}
