@media screen and (max-width: 899px) {
  .section-descripcion {
    flex-direction: column;
    height: 40rem;
  }

  .texto-descripcion {
    margin: 0 auto;
    width: 87%;
  }

  .texto-descripcion h1 {
    font-size: 3.95em;
    line-height: 1.2em;
  }

  .texto-descripcion h2 {
    font-size: 1.9em;
    font-weight: 100;
    margin-top: 1rem;
  }

  .texto-descripcion h3 {
    font-weight: 200;
    font-size: 1.5em;
    margin-top: 5.5rem;
  }

  .links-personal {
    flex-direction: column;
    height: 7rem;
    justify-content: center;
    margin-top: 4rem;
    width: 100%;
  }

  .boton-link {
    font-size: 1.2em;
    line-height: 3em;
  }
  .bg-btn-1,
  .bg-btn-2 {
    padding-left: 0;
    text-align: center;
  }

  .bg-btn-1:hover,
  .bg-btn-2:hover {
    padding-left: 0rem;
  }

  .bg-btn-1 {
    margin-right: 4rem;
  }

  .bg-btn-2 {
    margin-left: 2rem;
  }
}
