.sobre-mi-main {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  z-index: -20;
}
.sobre-mi-container {
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.imagen-mario {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 45%;
  position: relative;
}

.imagen-perfil {
  align-items: center;
  border-left: solid 20px #2c3953;
  border-bottom: solid 20px #2c3953;
  display: flex;
  justify-content: center;
  height: 40vh;
}

.fondo-imagen {
  box-shadow: 0px 0px 16px 11px #77777723;
  border-radius: 20px;
  height: 300px;
  z-index: -10;
}

.texto-presentación {
  width: 45%;
}

.texto-presentación h1 {
  border-bottom: 3px solid #2c3953;
  color: #00a78e;
  display: inline-block;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin: 0;
  text-decoration: none;
  text-align: right;
  width: 100%;
}

.texto-presentación p {
  color: #2c3953;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: auto;
  margin-top: 15px;
  width: 100%;
}

.bold {
  font-weight: 800;
}
