@media screen and (max-width: 899px) {
  .sobre-mi-main {
    height: 68rem;
    display: flex;
  }
  .sobre-mi-container {
    flex-direction: column;
    width: 85%;
    justify-content: center;
    align-items: center;
  }

  .imagen-mario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19rem;
    margin: 0 auto;
    width: 100%;
  }

  .imagen-perfil {
    height: 200px;
    position: unset;
    border-left: solid 10px #2c3953;
    border-bottom: solid 10px #2c3953;
    left: unset;
  }

  .fondo-imagen {
    display: none;
  }

  .texto-presentación {
    margin-top: 25px;
    width: 100%;
  }

  .texto-presentación h1 {
    text-align: left;
    font-size: 34px;
    width: 100%;
  }

  .texto-presentación p {
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 25px;
  }
}
