@media screen and (max-width: 899px) {
  /* SECCION FOOTER */

  .contenedor-footer {
    background-color: #fff;
    background-image: url(../../public/images/waves.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 33rem;
    width: 100%;
  }

  .section-footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
  }
  /* //================================================== */
  /* INFO DE CONTACTO */
  .info-contacto h2 {
    font-size: 40px;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .info-contacto {
    width: auto;
    margin-left: 0;
    margin-top: 0rem;
    width: 85%;
    margin-bottom: 0rem;
  }

  .info-contacto p {
    font-size: 18px;
  }
  /* //================================================== */
  /* SVGS */

  .contenedor-svgs {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0rem 4rem;
  }

  .contenedor-svgs a {
    height: 3rem;
    margin: 0px;
  }

  .svgFooter {
    object-fit: cover;
  }
  /* //================================================== */
}
