/* SECCION FOOTER */
.section-footer {
  align-items: center;
  background-color: rgb(41, 40, 40);
  background-image: url(../../public/images/waves.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  color: #f4f4f4;
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-evenly;
  height: 35rem;
  width: 100%;
}

/* //================================================== */

.info-contacto {
  margin-bottom: 13rem;
}


/* INFO DE CONTACTO */
.info-contacto {
  width: 35%;
}

.info-contacto h2 {
  border-bottom: 3px solid #f5af31;
  font-weight: bold;
}

.info-contacto p {
  font-size: 1.3em;
}

.info-contacto span {
  font-weight: bold;
}
/* //================================================== */
/* SVGS */

.contenedor-svgs {
  align-items: center;
  display: flex;
  height: 4.5rem;
  justify-content: space-evenly;
  width: 35%;
}

.svgFooter {
  height: 3rem;
  transition: 0.1s ease-in-out all;
}

.svgFooter:hover {
  height: 3.3rem;
  filter: drop-shadow(0px 0px 7px #9c8a8a);
}

.bg-withe-svg {
  background-color: #cac8c8;
  border-radius: 6px;
  padding: 2.5px;
}

.instagram {
  border-radius: 10px;
}
/* //================================================== */
