/* SECCION FOOTER */
.contenedor-footer {
  background-color: #fff;
  background-image: url(../../public/images/waves.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 70vh;
  width: 100%;
}
.section-footer {
  align-items: center;
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}

/* //================================================== */

/* INFO DE CONTACTO */
.info-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  height: 20rem;
  width: 50%;
}

.info-contacto h2 {
  border-bottom: 3px solid #2c3953;
  color: #00a78e;
  font-weight: bold;
  font-size: 55px;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.info-contacto p {
  color: #2c3953;
  font-size: 1.3em;
  margin: 0.5rem 0;
}

.info-contacto span {
  font-weight: bold;
}
/* //================================================== */
/* SVGS */

.contenedor-svgs {
  align-items: flex-end;
  display: flex;
  height: 4.5rem;
  margin-top: auto;
  justify-content: flex-end;
  width: 50%;
}

.contenedor-svgs a {
  margin: 0 40px;
  transition: all 0.2s ease-in-out;
}

.svgFooter {
  height: 3rem;
  object-fit: cover;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.contenedor-svgs a:hover {
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}

/* //================================================== */
